* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4eb1ad;
  background-image: url(../img/background-image.webp);
  background-position: center;
  background-size: cover;
  font-family: 'Dosis', sans-serif;
}

header {
  width: 100%;
  height: 150px;
  background-color: #c16f81ae;
  -webkit-box-shadow: 2px 4px 14px 0px rgba(193, 111, 129, 1);
  -moz-box-shadow: 2px 4px 14px 0px rgba(193, 111, 129, 1);
  box-shadow: 2px 4px 14px 0px rgba(193, 111, 129, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.rick-and-morty {
  width: 200px;
}

.logo {
  width: 380px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  font-size: 25px;
  padding: 10px 15px;
  margin: 10px;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

li:hover, a:hover:not(.hbo-shortcut) {
  background-color: #02b1c8;
  border-radius: 30px;
  cursor: pointer;
}

.synopsis-container, .streaming-info {
  height: 50%;
  padding: 30px;
  margin: 20px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.444);
  border-radius: 10px;
}

.synopsis-container img {
  width: 200px;
  margin: 10px;
}

.synopsis-container div, .streaming-info div {
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  margin: 20px;
  padding: 10px ;
  background-color: rgba(255, 255, 255, 0.444);
  font-size: 40px;
  text-align: center;
  border-radius: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.card {
  height: 300px;
  width: 280px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px 5px;
  background-color: rgba(255, 255, 255, 0.444);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card .character-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 10px;
}

.card .character-image {
  width: 120px;
  border-radius: 50%;
}

.character-info h3 {
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.card:hover {
  background-color: #c16f81ae;
  box-shadow: 1px 0px 19px 1px rgba(255,255,255,0.75);
-webkit-box-shadow: 1px 0px 19px 1px rgba(255,255,255,0.75);
-moz-box-shadow: 1px 0px 19px 1px rgba(255,255,255,0.75);
}

.streaming-info img {
  width: 60%;
  border-radius: 10px;
}

footer {
  background-color: #c16f81ae;
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 2px -4px 16px 0px rgba(193, 111, 129, 0.81);
  -moz-box-shadow: 2px -4px 14px 0px rgba(193, 111, 129, 0.81);
  box-shadow: 2px -4px 14px 0px rgba(193, 111, 129, 0.81);
}

footer p, footer a {
  font-size: 20px;
  padding: 0px 10px;
}

footer i {
  padding: 5px;
}

.data-left-section, .data-right-section {
  padding: 10px;
  margin: 20px;
} 

.author-name {
  font-size: 25px;
}

.data-right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 880px) {

  header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .synopsis-container p {
    font-size: smaller;
  }

  .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card  {
    width: 40%;
    height: 260px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .card .character-image {
    width: 120px;
  }

}

@media (max-width: 480px){

  li {
    font-size: 20px;
  padding: 5px 10px;
  }

  .rick-and-morty {
    width: 150px;
  }

  .logo {
    width: 270px;
  }

  .synopsis-container img {
    width: 70%;
  }

  .synopsis-container, .streaming-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .streaming-info a {
    display: flex;
    justify-content: center;
  }

  .streaming-info img {
    width: 90%;
  }

  .card {
    width: 80%;
  }

  footer {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .data-left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}